---
import Layout from "../layouts/Layout.astro"
import PlayListItemCard from "@/components/PlayListItemCard.astro"
import { playlists } from "@/lib/data"
import PlaylistFilterButtons from "@/components/PlaylistFilterButtons.astro"
---

<Layout title="Spotify Clone">
  <div
  id="playlist-container"
  class="relative transition-all duration-1000 px-[18.2px] pt-4 "
  >
  <PlaylistFilterButtons filterNames={["Playlist", "Artistas", "Ãlbumes" ]}/>
    <h2 class="text-2xl pl-3 font-bold mt-12 ">Hecho para Jonh Doe</h2>
    <div class="relative z-10 ">
      <div class="flex justify-between">
        {playlists.map((playlist) => <PlayListItemCard playlist={playlist} />)}
      </div>
    </div>
    <style></style>
  </div>
</Layout>
