---
import ListIcon from "@/icons/ListIcon.astro";
import Search from "@/icons/Search.astro";
---

<div class="flex justify-between items-center">
    <button>
        <Search/>
    </button>
    <section class="gap-2 text-sm hover:text-base flex items-center">
        <h6>Recientes</h6>
        <button class="p-2 flex justify-center items-center"><ListIcon/></button>
    </section>
</div>